:root {
  /* COLORS */
  --color-purple: rgb(133, 64, 133);
  --color-white: rgb(210, 235, 240);
  --color-green: #63a078;
  --color-red:  rgb(243, 100, 84);
  --color-yellow: rgb(240, 196, 16);
  --color-blue: rgb(21, 118, 197);

    /* COMPONENT STYLES */
  --comp-header-height: 98px;
  --comp-header-height-mobile: 108px;

  /* PROPERTY STYLES */
  --border-radius-small: 6px;
  --border-radius-medium: 9px;
  --border-radius-large: 12px;
}
